<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pricing.css">
    <title>Pricing</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="header color01">
                <h2 class="card-header">Free</h2>
            </div>
            <div class="card-price-block">
                <span class="card-price">99$</span>
                <span class="card-price-month">/month</span>
            </div>
            <ul class="card-pricing-list">
                <li class="card-pricing-item included-in-price">Throw In the Towel</li>
                <li class="card-pricing-item included-in-price">A Dog in the Manger</li>
                <li class="card-pricing-item included-in-price">Back To the Drawing Board</li>
                <li class="card-pricing-item not-included-in-price">Down For The Count</li>
                <li class="card-pricing-item not-included-in-price">Give a Man a Fish</li>
                <li class="card-pricing-item not-included-in-price">On the Same Page</li>
                <li class="card-pricing-item not-included-in-price">Wild Goose Chase</li>
                <li class="card-pricing-item not-included-in-price">Beating Around the Bush</li>
                <li class="card-pricing-item not-included-in-price">Quick On the Draw</li>
            </ul>
            <a alt="" href="#" class="card-button-01">Select Free</a>
        </div>
        <div class="card card-promo">
            <div class="header color02">
                <h2 class="card-header">Cheap</h2>
            </div>
            <div class="card-price-block">
                <span class="card-price">199$</span>
                <span class="card-price-month">/month</span>
            </div>
            <ul class="card-pricing-list">
                <li class="card-pricing-item included-in-price">Throw In the Towel</li>
                <li class="card-pricing-item included-in-price">A Dog in the Manger</li>
                <li class="card-pricing-item included-in-price">Back To the Drawing Board</li>
                <li class="card-pricing-item included-in-price">Down For The Count</li>
                <li class="card-pricing-item included-in-price">Give a Man a Fish</li>
                <li class="card-pricing-item not-included-in-price">On the Same Page</li>
                <li class="card-pricing-item not-included-in-price">Wild Goose Chase</li>
                <li class="card-pricing-item not-included-in-price">Beating Around the Bush</li>
                <li class="card-pricing-item not-included-in-price">Quick On the Draw</li>
            </ul>
            <a alt="" href="#" class="card-button-02">Select Cheap</a>
        </div>
        <div class="card">
            <div class="header color03">
                <h2 class="card-header">Expensive</h2>
            </div>
            <div class="card-price-block">
                <span class="card-price">299$</span>
                <span class="card-price-month">/month</span>
            </div>
            <ul class="card-pricing-list">
                <li class="card-pricing-item included-in-price">Throw In the Towel</li>
                <li class="card-pricing-item included-in-price">A Dog in the Manger</li>
                <li class="card-pricing-item included-in-price">Back To the Drawing Board</li>
                <li class="card-pricing-item included-in-price">Down For The Count</li>
                <li class="card-pricing-item included-in-price">Give a Man a Fish</li>
                <li class="card-pricing-item included-in-price">On the Same Page</li>
                <li class="card-pricing-item included-in-price">Wild Goose Chase</li>
                <li class="card-pricing-item included-in-price">Beating Around the Bush</li>
                <li class="card-pricing-item included-in-price">Quick On the Draw</li>
            </ul>
            <a alt="" href="#" class="card-button-01">Select Expensive</a>
        </div>
    
    </div>
</body>
</html>