.AllUsers {
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    align-items: center;
}

thead {
    background-color: darkkhaki;
}

.AllUsers table {
    border: 2px solid darkred;
}

.AllUsers th {
    border-bottom: 1px solid black;
}

.AllUsers td {
    text-align: center;
}

.AllUsers tr:nth-child(even) {
    background-color: rgb(82, 94, 106);
}

.AllUsers tr:nth-child(odd) {
    background-color: #999;
}

.AllUsers tr:hover {
    background-color:darkgoldenrod;
}
